@charset "UTF-8";
* {
    box-sizing: border-box;
}

#checkId-container {
    position: fixed;
    width: 97%;
    height: 95%;
    background-color: #fff;
    border: 3px solid #34C5F0;
    border-radius: 30px;
}

#id-check-title {
    font-family: 'Dongle', sans-serif;
	font-size: 2.5rem;
	color: #000;
    margin-top: 10%;
    text-align: center;
    
}
.passed {
	font-family: 'Dongle', sans-serif;
	font-size: 1.5rem;
	color: #000;
    margin-top: 12%;
    text-align: center;
}
.failed {
	font-family: 'Dongle', sans-serif;
	font-size: 1.5rem;
	color: #000;
    text-align: center;
}

#usable-id, #duplicated-id {
	font-family: 'Dongle', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	color: #000;
    margin-top: 12%;
    text-align: center;
}

#checkIdDuplicateFrm{
	display:flex;
	justify-content: center;
	margin-top: 4%;
}

#memberId{
	  width: 36%;
      height: 2.5rem;
      font-size: 1rem;
      padding: 0px;
      border: #000 1px solid;
      border-radius: 5px;
      margin: 0 10px;
}
#btn-close, #btn-id-check {
    font-family:'Noto Sans KR', sans-serif;
	font-size: 1.1rem;
    width: 5.12rem;
    height: 2.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:  #34C5F0;
}