@charset "UTF-8";
.reset-password{
    text-align: center;
    width: 69.5%;
    height: 36rem;
    margin: 0 auto;
}

.formPopupPassword {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.formContainer {
	width: 100%;
    padding: 1.2rem;
    background-color: #fff;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}
.pop-title-password h2 {
    font-family: 'Dongle', sans-serif;
	font-size: 5.8rem;
	color: #000;
	height: 7rem;
	margin: 1rem; 
}

.pop-password-inner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    height: 23rem;
    margin: 0 auto;
}

.pop-id-inner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 5rem;
    margin: 0 auto; 
}
.pop-password-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 5rem;
    margin: 0 auto; 
}
.pop-password-check-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 5rem;
    margin: 0 auto; 
}


.pop-password-inner-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 5rem;
    margin: 1.25rem 
}

.btn-cancel, .btn-accept {
    font-family: 'Dongle', sans-serif;
	font-size: 1.5rem;
    width: 82px;
    height: 40px;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #34C5F0; 
}

#id-label strong, #password-label strong, #password-check-label strong  {
	font-family: 'Dongle', sans-serif;
	font-size: 3rem;
    margin-right: 1.25rem; 
}

#id-label{   width: 29%; }
  
#password-label {  	width: 36%;  }
#password-check-label {	width: 50%;  }
  
#memberId {
      width: 47.92%;
      height: 57.15%;
      font-size: 1rem;
      padding: 0px;
      border: #000 1px solid;
      border-radius: 5px;
      margin-left: 22%;  
      text-align: center;
  }

 #input-password{ 
      width: 42.595%;
      height: 57.15%;
      font-size: 1rem;
      border: #000 1px solid;
      border-radius: 5px;
      margin-left: 11%;
      margin-right: 3.96%;

  }
#input-passwordCheck { 
      width: 49%;
      height: 57.15%;
      font-size: 1rem;
      border: #000 1px solid;
      border-radius: 5px;
      margin-left: 4%;
      margin-right: 2%;
  }
#memberId:hover, #input-password:hover, #input-passwordCheck:hover{background-color: #f7f9fa; }
#memberId:focus, #input-password:focus, #input-passwordCheck:focus{border: 1px solid #34C5F0; outline:none;}
button:hover{ background-color: #00B8F0}