@charset "UTF-8";
* {
    box-sizing: border-box;
}

.formPopupCert {
    position: fixed;
    left: 50%;
    top: 0%;
    width: 500px;
    height: 490px;
    transform: translate(-50%, 5%);
    background-color: #fff;
    border: 3px solid  #34C5F0;
    border-radius: 30px;
}

.pop-title-cert h2 {
    font-family:'Noto Sans KR', sans-serif;
	font-size: 3rem;
	color: #000;
    margin-top: 30px;
    text-align: center;
    
}
.pop-cert-inner-wrapper{
	 display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-cert-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 60px;
    margin: 12px auto;
    
}

.failed {
	font-family: 'Dongle', sans-serif;
	font-size: 2.2rem;
	color: #000;
    text-align: center;
    margin: 70px auto;
}
#cancel-inner-failed{
	display:flex;
	justify-content: center;
}
.btn-cancel {
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
	font-size: 1rem;
    width: 82px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    margin-top: 0.5rem;
    background-color:  #34C5F0;
}


.pop-cert-inner strong{
    font-family: 'Dongle', sans-serif;
	font-size: 2rem;
  }

  .pop-cert-inner button {
    font-family: 'Dongle', sans-serif;
    font-weight: bold;
	font-size: 1rem;
    width: 82px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:  #34C5F0;
  }

  #nameId {
      width: 13rem;
      height: 3rem;
      font-size: 1rem;
      padding: 0px;
      border: #000 1px solid;
      border-radius: 5px;
      margin-right: 92px;
      margin-left: 10px;
  }

  #emailId, #certificationcode {
      width: 13rem;
      height: 3rem;
      font-size: 1rem;
      border: #000 1px solid;
      border-radius: 5px;
      margin: 0 10px;
  }
#name-label {
	 width: 128px;
}
	#nameId:hover, #emailId:hover, #certificationCodeId:hover{background-color: #f7f9fa; }
	#nameId:focus, #emailId:focus, #certificationCodeId:foucs{border: 1px solid #34C5F0; outline:none;}
	.btn-inner button:hover,  .pop-cert-inner button:hover, .btn-cancel:hover {
   background-color: #00B8F0
}
#email-label{ width: 128px;}
.pop-cert-timer{ visibility: hidden; font-family:'Noto Sans KR', sans-serif;} 
.btn-inner {display:flex; justify-content: space-evenly; width: 15rem; margin: 0 auto;}
.btn-inner button{ font-family: 'Dongle', sans-serif;
    font-weight: bold;
	font-size: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color:  #34C5F0;}
.timer-text{ margin: 0 auto;}