@charset "UTF-8";
/* ====================================  =================================== */

section {
    display: block;
}
.main-content {
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1256px;
    padding: 0px 60px;
    margin: 0px auto;
    box-sizing: border-box;
}
.userinfo-cartinfo-list {
    flex: 1 0 0px;
    box-sizing: border-box;
    max-width: 64%;
}
.whole-container{
	margin-bottom: 50px;
}
.title	{
    margin: 0px auto;
    box-sizing: border-box;
    width: auto;
    max-width: 100%;
    min-height: 1px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid rgb(234, 235, 239);
}
.title-name{
	font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.memberName{
    display: flex;
    padding: 0px 0px 8px;
}
input:hover:not(:focus) {
    background-color: #fafafa;
}
.typeteg {
	display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}
.typeteg2 {
	display: inline-block;
    width: 50%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

.purchase-btn {
	width: 100%;
    margin-top: 20px;
}
.total-purchase-info {
    position: relative;
    flex: 1 0 0px;
    max-width: 36%;
    padding-left: 50px;
    box-sizing: border-box;
}
.address {
	display: flex;
}
.address-btn{
	display: inline-block;
    margin: 0px;
    width: auto;
    box-sizing: border-box;
    border: none;
    background: none;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    text-decoration: none;
    text-align: center;
    transition: color 0.1s ease 0s, opacity 0.1s ease 0s;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    color: rgb(53, 197, 240);
    padding: 2px;
    font-size: 15px;
    line-height: 19px;
    font-weight: bold;
}
.amount {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 8px;
}
.total-amount{
    display: flex;
    margin-top: 20px;
    border-top: 1px solid rgb(234, 235, 239);
    padding-top: 19px;
}
.amount-name{
	width: 100px;
    font-size: 15px;
    line-height: 22px;
    color: rgb(117, 117, 117);
}
.amount-content{
    flex: 1 0 0px;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: rgb(41, 41, 41);
    font-family: Tahoma, sans;
    font-weight: bold;
}
.total-amount-name{
	flex: 1 0 0px;
    width: 150px;
    line-height: 27px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.total-amount-content{
	font-size: 22px;
    line-height: 27px;
    text-align: right;
    color: rgb(0, 0, 0);
}
.consent {
    border-top: 1px solid rgb(234, 235, 239);
}
.consent-label{
	display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px 12px 24px;
    font-size: 15px;
    line-height: 18px;
    color: rgb(0, 0, 0);
}
.consent-content{
	background-color: rgb(247, 248, 250);
    padding: 12px 24px;
}
.consent-read{
	font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: rgb(101, 110, 117);
}
.sub-read{
	margin-top: 10px;
    font-size: 12px;
    word-break: keep-all;
}
.btn_blue{
	display: flex;
    align-items: center;
    justify-content: center;
    background: #34C5F0;
    border: 1px solid #34C5F0;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    margin-right : 10px;
    font-size : 15px;
   	width: 106px;
    height: 48px;
    line-height: 16px;
    letter-spacing: -0.25px;
}
.purchase-btn{
	background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}
div {
	padding : 5px !important;
}
.pay-way {
	    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 14.2%;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-width: 0px 1px 1px 0px;
    border-top-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-left-color: initial;
    border-image: initial;
    padding: 0px 1px 5px 0px;
    margin: 0px;
    border-right-style: solid;
    border-right-color: rgb(234, 235, 239);
    border-bottom-style: solid;
    border-bottom-color: rgb(234, 235, 239);
    transition: background-color 0.2s ease 0s;
    cursor: pointer;
}
.btnpay{
	display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgb(234, 235, 239);
    border-left: 1px solid rgb(234, 235, 239);
}
.btnpay: visited{
	position: absolute;
    display: block;
    content: "";
    top: -1px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-top: 2px solid rgb(53, 197, 240);
    border-left: 2px solid rgb(53, 197, 240);
}
.request {
	display: inline-block;
    width: 100%;
    margin: 0;
    padding: 8px 15px 9px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-size: 15px;
    line-height: 21px;
    transition: border-color .1s,background-color .1s;
    resize: none;
}
.payway-info {
	padding: 16px 20px;
    box-sizing: border-box;
    background-color: rgb(247, 248, 250);
}

